<!-- Include Quill stylesheet -->
<%- include usertemplate.ejs %>
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">

<!-- Create the toolbar container -->
<div class="card-body" style="margin-right:180px;margin-left:180px">
        <center><h3 style="color:#707070">Create Community</h3></center><br><br><form name="myform" method="POST" action='/community/createCommunity' enctype="multipart/form-data">
        <input type="text" class="form-control" style="box-sizing:border-box" id="commName" name="commName" placeholder="Name"><br>
        <br>
        <input type="text" name="desc" id="desc" value="abc" style="display:none">
        <h6 style="color:#707070">Description:</h3><br>
<div class="container">
        <div id="quillEditor" style="height:200px">Description</div><br>
        <h6 style="color:#707070">Role:</h3><input type=radio value="Open" id="role" name="role">Open <input type=radio value="Permission" id="role" name="role">Permission
            <h6 style="color:#707070">Image:</h3><input type="file" name="comImage">
        <br><br><button id="btn"  type="submit" class="btn btn-primary btn-sm" >Submit</button>
       
      
    </div>
</form>
</div>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<!-- Initialize Quill editor -->
<script>



var quill = new Quill('#quillEditor', {
  theme: 'snow',

});    

 $(document).ready(function() {
     $("#btn").click(function(){
    var description=document.getElementById('quillEditor').childNodes[0].childNodes[0].innerHTML;
   
         var name=document.getElementById("commName").value;
         document.getElementById("desc").value=description;
        
        
    });

 });

  
</script>