<%- include usertemplate.ejs %>



<!--====================================================================-->
<div class="community-header-top" style="height:50px;padding-top:6px;">
<div class="col-sm-12 community-sub-head">
<a class="btn community-head-btn active" href="/community/communitypanel">
 <i class="fa fa-users"></i>
</a>
<a class="btn community-head-btn" style="margin-left:10px" href="/community/list">
 <i class="fa fa-search"></i>
</a>
</div>
</div>
<!--====================================================================-->
<div class="container" style="padding:0">
<div class="col-sm-12">
  <div class="panel panel-default allSidesSoft community-panel-main-div">
    <div class="panel-heading community-panel-heading">
      
        <p style="color:white;margin-top:6px;font-weight:bold">My Communities</p>
        <a href='/community/AddCommunity' class="btn btn-info community-panel-btn" style="float:right;margin:-35px 5px 0 0">Create</a>
      
    </div>
    <div class="panel-body" style="padding-bottom:0">
      
        <div id="can-create-community">
          <!--My Community-->
        </div>
      
    </div>

    <div class="panel-body" style="padding-top:0;padding-bottom:0">
        <center>
          <img src="/app_pics/bg/loading.gif" alt="loading..." class="loading-community-panel-image">
        </center>
        <div id="community-that-am-in">
          <!--Joined Community-->
        </div>
    </div>

    <div class="panel-body" style="padding-top:0">
      <div id="my-pending-commuity">
        <!--Pending Community-->
      </div>
    </div>

  </div>
</div>
</div>
<br />